# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
**/__pycache__
.ipynb_checkpoints/
camera_cal/camera_matrix.npy
camera_cal/dist_coeff.npy
